// {{ ansible_managed }}

// Constants
const NodeName = "{{ inventory_hostname }}"
{% for name,value in icinga2_constants.items() %}
const {{ name }} = "{{ value }}"
{% endfor %}

// API feature
object ApiListener "api" {
	// ca_path, cert_path, key_path are deprecated in icinga2 r2.10 but needed to support old versions
	ca_path = "/var/lib/icinga2/certs/ca.crt"
	cert_path = "/var/lib/icinga2/certs/{{ inventory_hostname }}.crt"
	key_path = "/var/lib/icinga2/certs/{{ inventory_hostname }}.key"
	bind_host = "{{ icinga2_api_bind_host }}"
	bind_port = {{ icinga2_api_bind_port }}
	accept_config = true
	accept_commands = true
	tls_protocolmin = "TLSv1.2"
}

// Checker feature
library "checker"
object CheckerComponent "checker" {
}

// Syslog feature
object SyslogLogger "syslog" {
	severity = "{{ icinga2_log_severity }}"
}

// Endpoints
object Endpoint NodeName {
}

{% for host in groups[icinga2_parent_zone] | map('extract', hostvars) %}
object Endpoint "{{ host.inventory_hostname }}" {
	host = "{{ host.ansible_host }}"
}

{% endfor %}
// Zones
object Zone NodeName {
	endpoints = [ NodeName ]
	parent = "{{ icinga2_parent_zone }}"
}

object Zone "global-templates" {
	global = true
}

object Zone "{{ icinga2_parent_zone }}" {
	endpoints = [ "{{ groups[icinga2_parent_zone] | join ('", "') }}" ]
}
